.order {
  margin-top: 3rem;
  padding: 1.5rem 2rem;
}

.order h3 {
  margin-bottom: 1rem;
}

.order textarea {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}

.order .btn {
  background-color: cadetblue;
  color: #fff;
}
