.home {
  padding: 1.5rem 4rem;
}

.home-container {
  padding-top: 1rem;
  width: 100%;
}

.home-container h3 {
  text-align: center;
}

.home-left,
.home-right {
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-right {
  padding-left: 4rem;
  border-left: 3px solid cadetblue;
}

.home-left {
  padding-right: 4rem;
}
