.food-card {
  padding: 1rem;
  width: 320px;
  line-height: 1.8;
  margin-bottom: 3rem;
  margin-right: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.food-card button {
  margin-top: 0.5rem;
  background-color: cadetblue;
  color: #fff;
}

.food-card span {
  font-size: 1.1rem;
}

.food-card:hover {
  transform: scale(1.1);
}
