.navbar {
  padding: 1rem 6rem;
  background: transparent;
  position: relative;
  z-index: 10;
}

.nav-links .btn:hover {
  transform: translateY(-7px);
}

.profile {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 1rem;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
